POSTGRES_DB=referee_db
POSTGRES_USER=referee_user
POSTGRES_PASSWORD=replace-with-a-strong-password

DJANGO_SECRET_KEY=replace-with-a-long-random-secret-key
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,192.168.101.100,100.112.239.94
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_HTTPS_ENABLED=0
DJANGO_SECURE_HSTS_SECONDS=3600
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=0
DJANGO_SECURE_HSTS_PRELOAD=0
# Docker 构建代理，不需要时留空
BUILD_HTTP_PROXY=
BUILD_HTTPS_PROXY=
